html, body, div.content {
    background-color: #c00;
    color: #fff;
    width: 100%;
    max-width: 100%; 
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: Arial;
}

.top-half {
    background-color: #000;
    height: 50%;
}
.bottom-half {
    background-color: #00c;
    height: 50%;
    max-height: 50%;
    overflow-y: hidden;
}

.calc-table {
    width: 100%;
}

table {
    width: 100%;
}

#calc-display-div {
    height: 55px;
    background-color: #444;
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px #333 solid;
    border-radius: 10px;
    vertical-align: middle;
}

.calc-table {
    margin: 0;
}
.results-table {
    margin: 0;
    overflow-y: hidden;
}

.calc-row {
    display: flex;
}
.calc-button-cell {
    padding: 3px;
    width: 33.33%;
    height: 70px;
}
.calc-button {
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin: 0;
    height: 70px;
}
.calc-result>td {
    text-align: center;
}

.calc-results-header th {
    background-color: #933;
    width: 33.33%;
}

.calc-results-scroll {
    display: flex;
    height: 100%;
    overflow-y: scroll;
}
.calc-results-scroll td {
    width: 33.33%;
    background-color: #339;
}

.results-div {
    xmargin: 0;
    height: 100%;
    max-height: 100%;
}

.results-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}
.results-row {

}
.results-item {
    width: 33%;
    background-color: #ccc;
}

.results-table-header {
    width: 50%;
}
.results-table-scroll {
    width: 50%;
}

/*

.results-div {
    margin: 0;
    height: 100%;
    max-height: 100%;
}
.results-div>tbody {
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}


.results-div>table {
    width: 100%;
}

*/
/* 
.results-div>thead, .results-div>tbody, .results-div>tr, .results-div>td, .results-div>th { display: block; }

.results-div>tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.results-div>thead th {
    height: 30px;
}

.results-div>tbody {
    height: 120px;
    overflow-y: auto;
}


.results-div>tbody .results-div>td, .results-div>thead .results-div>th {
    width: 19.2%;
    float: left;
} */